@import url('https://fonts.googleapis.com/css2?family=Bungee&family=PT+Mono&family=Source+Code+Pro:wght@500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');	

body {
    padding: 150px;
    font-family: "PT Mono", monospace;
    color: #ffffff;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/bg.jpg") center bottom repeat-y;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  animation: sliceBackground 60s linear infinite; /* Adjusted duration for a longer, smoother effect */
}

@keyframes sliceBackground {
    0% {
      background-position: center bottom;
    }
    100% {
      background-position: center top;
    }
  }
  
  
  @media (min-width: 1024px) {
    body::before {
      background-attachment: fixed;
    }
  }

  a {
    color: #d21866;
  }

.container {
    max-width: 600pxx;
    margin: 0 auto;
    padding:50px;
    box-shadow:rgba(255, 1, 179, 0.2) 0px 7px 29px 0px;
}

h3 {
   text-align: center;
   margin-bottom: 30px;
   margin-top: 30px;
   font-weight:bolder;
   letter-spacing: 10px;
   color: #f1dae3;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    font-weight:bolder;
    letter-spacing: 10px;
    color: #f1dae3;
}

.form-group{
    margin-bottom:30px;
}

.form-btn{
    color: #d21866;
}

button[type="submit"]{
    background-color: #d21866;
    border: #d21866;
}

button[type="submit"]::before {
  background-color: #d21866;
  border: #d21866;
}

input[type="password"]{
    background: rgba(188, 186, 186, 0.526);
    border: rgb(255, 255, 255);
    color: #ffffff;
}

input[type="email"]{
  background: rgba(188, 186, 186, 0.526);
    border: rgba(255, 255, 255, 0.08);
    color: #ffffff;
}


.form-control{
    background: rgba(188, 186, 186, 0.526);
    border: rgba(255, 255, 255, 0.08);
    color: #ffffff;
}


label[for="email"]{
    margin-top: 60px;
}


